.linkeIn {
    color: #0A66C2;
}

.gitlab {
    color: #E65328;
}

.git {
    color: #E94E31;
}

.php{
    color: #C3C5F3;
}

.js {
    color: #EFD81D;
}

.bootstrap {
    color: #7A13F7;
}

.html {
    color: #D72100;
}

.css {
    color: #254BDD;
}

.laravel {
    color: #E93A2D;
}

.databases {
   color: #3A779F;
}

.servers {
    color: #5D5D5D;
}

.email {
    color: #577CF7;
}

.file{
    color: #DE302C;
}

.arrow-icons{
    color: rgba(255, 255, 255 , 0.8);
}

.github {
    color: black;
}

.react{
    color: cyan;
}