.container {
    box-sizing: border-box;
    width: 100vw;
    min-height: 10vh;
    display: grid;
    grid-template-columns: 3fr 4.5fr;
    justify-content: space-evenly;  
    z-index: 10;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 9%); 
    position: fixed;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 1vw)
        );   
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: start;
    align-items: center;
    padding-bottom: 15px;
    list-style: none;
}

.nav-link, li, a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--textColor);
}

.nav-link > a {
    font-size: large;  
} 
    
#nav-li-icon {
    margin: 10px;
    background-color: transparent;
    border: none;
    display: none
}

.icon-color {
    color: var(--iconsColor);  
    display: none
}

.logo {
    padding: 5px;
    width: 60px;
    height: 60px;
    object-fit: contain;    
}


@media screen and (max-width: 700px){
    .container {
        display: block;
    }
    .row {
        box-sizing: border-box;
        width: 100vw;
        min-height: 50vh;
        display: block;
        flex-direction: column;
        align-items: flex-start;   
        text-align: start;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    
    .active{
        display: none;
    }
    
    html {
        overflow: auto;
    }

    .lock-scroll{
        overflow-y: hidden;
        height: 80vh;
    }

    #nav-li-icon {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nav-link {
        padding-bottom: 10px;
    }

    .col-navbar {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: right;
    }
    .drop-down-icon {
        margin-left: auto;
    }
}
