.row-detail {
    min-height: 60vh;
    display: grid;
    grid-template-columns: 2fr 3fr; 
    margin-bottom: 3px;
}

.col-lg-4 {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: var(--backgroundColor);
    margin-right: 1px;
}

.job-title {
    text-align: center;
    padding-top: 20px;
}

.job-title-detail {
    padding-top: 5px;
}

.col-lg-8 {
    width: 100%;
    padding: 120px 20px 20px 30px;
    background-color: var(--backgroundColor);
}

.row-education {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 50%;
}

.biography {
    width: 100%;
    min-height: 50%;
}

.p {
    padding-top: 20px;
    line-height: 2em;
    font-weight: 700;
    font-size: 18px;
}

.interests, .education {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 0px;
}

.ul-edu, .ul-interests {
    list-style: circle;
    padding-top: 10px;
    line-height: 2em;
    font-weight: 700;
}

.ul-interests {
    padding-left: 10px;
}

#profile {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10%;
    align-items: center;
}
.img-div {
    height: 250px;
    width: 250px;
    object-fit: scale-down;
    position: relative;
}

.img-profile {
    border: 1px solid var(--textColorGray);
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
}

.ul-links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding-top: 20px;
}

@media screen and (max-width: 700px){
    .row-detail {
        display: block;
        padding: 10px 0;
    }
    .row-education {
        display: grid;
        grid-template-columns: 1fr;
    }
  
    .interests, .education {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: 10px;
    }

    .interests {
        padding-left: 20px;
    }

    .col-lg-4 { 
        margin-right: 0;
        margin-bottom: 10px;
        padding-bottom: 20px;
    }

    .img-div {
        height: 150px;
        width: 150px;
    }

    .img-profile {
        border-radius: none;
    } 

    .col-lg-8 {
       padding: 10px;
    }

    .h2-biography {
        text-align: center;
    }

    .ul-links {
        overflow-x: scroll; 
    }
   
    .biography {
        text-align: start;
        padding: 0 10px;
    }
}

@media screen and (max-width: 1300px){
    .img-div {
        height: 150px;
        width: 150px;
    }
}